.header
  .header__inner
    .inner__main
      .main__icon
        = link_to "/" do
          =image_tag('logo.png', class: "icon__image")
      .main__search
        = form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form| 
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" 
          = form.submit "検索", class: "search-btn"
    .inner__nav
      .nav__left
        .left__category
          .category__btn
          カテゴリー
        .left__brand
          .brand__btn
          ブランド
      .nav__right
        - if user_signed_in?
          .right__logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout__btn"
          .right__mypage
            = link_to "マイページを見る", user_path(current_user.id), class: "mypage__btn"
        - else
          .right__login
          = link_to "ログイン", new_user_session_path, class: "login__btn"
          .right__new
          = link_to "新規登録", new_user_registration_path, class: "new__btn"
          
        -# .right__login
        -#   .login__btn
        -#   ログイン
        -# .right__new
        -#   .new__btn
        -#   新規会員登録
.main
  .main__visual
    .visual__content
      .content__subtitle 人生を変えるフリマアプリ
      .content__text FURIMAはだれでもかんたんに出品・購入できるフリマアプリです
      .content__btn
        = link_to "/", class: "a-btn__link" do
          =image_tag('https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg', class: "a-btn__image")
        = link_to "/", class: "g-btn__link" do
          =image_tag('google-play-badge.png', class: "g-btn__image")
        -# .a-btn
        -#   .a-btn__image
        -#   =image_tag('https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg')
        -# .g-btn
        -#   =image_tag('google-play-badge.png', class: "g-btn__image")
    .visual__picture
  .main__introduction
    .introduction__subtitle FURIMAが選ばれる3つの理由
    .introduction__lists
      .lists__list1
        .list1__pict1
          .pict1__number 1
          =image_tag('pict-reason-01.jpg', class: "pict1-reason-01")
        .list1__text 3分ですぐに出品
        .list1__discription スマホで入力するだけで簡単に出品できる！
      .lists__list2
        .list2__pict2
          .pict2__number 2
          =image_tag('pict-reason-02.jpg', class: "pict2-reason-02")
        .list2__text2 シンプルで使いやすい
        .list2__discription2 めんどくさい入力しては必要なく、検索も購入もスムーズ！
      .lists__list3
        .list3__pict3
          .pict3__number 3
          =image_tag('pict-reason-03.jpg', class: "pict3-reason-03")
        .list3__text3 手数料業界最安
        .list3__discription3 最大3％でお得に出品＆購入！
  .main__middle-dl
    .middle-dl__inner
      .inner__subtitle 会員数日本一位
      .inner__text
        %br
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .inner__btn
        = link_to "/", class: "abtn__link" do
          =image_tag('https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg', class: "abtn__image")
        = link_to "/", class: "gbtn__link" do
          =image_tag('google-play-badge.png', class: "gbtn__image")
  .main__features
    .features__head FURIMAの特徴
    .features__items
      .items__item1
        .item1__image
          =image_tag('icon-01.png', class: "icon-01")
        .item1__subtitle 簡単に売り買いできる
        .item1__detail スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .items__item2
        .item2__image
          =image_tag('icon-03.png', class: "icon-03")
        .item2__subtitle 売上金は即日振込みに対応
        .item2__detail 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします！
      .items__item3
        .item3__image
          =image_tag('icon-04.png', class: "icon-04")
        .item3__subtitle 様々な支払いに対応
        .item3__detail お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  .main__pickupContainer
    %h1.pickupContainer__title 新規投稿商品
    = render @products

.app-banner
  .app-banner__inner
    .inner__title だれでもかんたん、人生を変えるフリマアプリ
    .inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to "/", class: "a-icon__link" do
        =image_tag('https://developer.apple.com/app-store/marketing/guidelines/images/badge-download-on-the-app-store.svg', class: "a-icon__image")
      = link_to "/", class: "g-icon__link" do
        =image_tag('google-play-badge.png', class: "g-icon__image")

.fotter
  .fotter__contents
    .contents__content1
      .content1__head FURIMAについて
      %ul.content1__detail
        %li.detail__list1
          %a.list1__link 会社概要（運営会社）
        %li.detail__list2
          %a.list2__link プライバシーポリシー
        %li.detail__list3
          %a.list3__link FURIMA利用規約
        %li.detail__list4
          %a.list4__link ポイントに関する特約
    .contents__content2
      .cotent2__head FURIMAを見る
      %ul.content2__detail
        %li.detail__list5
          %a.list5__link カテゴリー一覧
        %li.detail__list6
          %a.list6__link ブランド一覧
    .contents__content3
      .cotent3__head ヘルプ＆ガイド
      %ul.content3__detail
        %li.detail__list7
          %a.list7__link FURIMAガイド
        %li.detail__list8
          %a.list8__link FURIMAロゴ利用ガイドライン
        %li.detail__list9
          %a.list9__link お知らせ
  .fotter__logo
    = link_to "/" do
      =image_tag('logo-white.png', class: "logo__image")
  .fotter__c-mark © FURIMA

- if user_signed_in?
  = link_to '出品する', new_product_path, class: "purchase-btn"
  .purchase-btn__text
