.header
  .header__inner
    .inner__main
      .main__icon
        = link_to "/" do
          =image_tag('logo.png', class: "icon__image")
      .main__search
        -# = f.text_field :title, {class: "search__input"}
    .inner__nav
      .nav__left
        .left__category
          .category__btn
          カテゴリー
        .left__brand
          .brand__btn
          ブランド
      .nav__right
        .right__login
          .login__btn
          ログイン
        .right__new
          .new__btn
          新規会員登録
.main
  .main__visual
    .visual__content
      .content__subtitle
      人生を変えるフリマアプリ
      .content__text
      FURIMAはだれでもかんたんに出品・購入できる
      フリマアプリです
      .content__btn
        .a-btn
        .g-btn
    .visual__picture
  .main__introduction
    .introduction__subtitle
    FURIMAが選ばれる3つの理由
    .introduction__lists
      .list1
      .list2
      .list3
  .main__middle-dl
  .main__features
  .main__pickupContainer
    = render @products
    -# .head
    -# ピックアップカテゴリー
    -# .productBox
    -#   .productHead
    -#     .title
    -#       新規投稿商品
    -#   .productLists
    -#     .productList
    -#       = image_tag product.images[0].src.url, class: "productList--img"
    -#       .productList--body
    -#         %p.name= product.title
    -#         %p.details= product.price
    -#         円（税抜）

.app-banner
.fotter


%h1 Top#index
= form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form| 
  = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" 
  = form.submit "検索", class: "search-btn" 
- if user_signed_in?
  %h2 ログインしています
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  %p= link_to "マイページを見る", user_path(current_user.id)
  %p= link_to '出品', new_product_path
- else
  %h2 ログインしていません
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path
