%h1 Top#index
= form_with(url: search_products_path, local: true, method: :get, class: "search-form") do |form| 
  = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" 
  = form.submit "検索", class: "search-btn" 
- if user_signed_in?
  %h2 ログインしています
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  %p= link_to "マイページを見る", user_path(current_user.id)
  %p= link_to '出品', new_product_path
- else
  %h2 ログインしていません
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path
.body
  新規アイテム
  = render @products
