-# 仮のトップviewです
%h1.header
  Top#index
  .header__inner
    .inner__main
      %h1.main__icon
      .main__search
    .inner__nav
      %ul.nav__left
        %li.left__category
          %a.category__btn
          カテゴリー
        %li.left__brand
          %a.brand__btn
          ブランド
      %ul.nav__right
        %li.right__login
        %li.right__new
.main
- if user_signed_in?
  %h2 ログインしています
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  %p= link_to "マイページを見る", user_path(current_user.id)
  %p= link_to '出品', new_product_path
- else
  %h2 ログインしていません
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path

.pickupContainer
  = render @products
  -# .head
  -# ピックアップカテゴリー
  -# .productBox
  -#   .productHead
  -#     .title
  -#       新規投稿商品
  -#   .productLists
  -#     .productList
  -#       = image_tag product.images[0].src.url, class: "productList--img"
  -#       .productList--body
  -#         %p.name= product.title
  -#         %p.details= product.price
  -#         円（税抜）
