%h2 会員情報登録
= form_for(@user, url: user_registration_path) do |f|
  = render "devise/shared/error_messages", resource: @user
  .field
    = f.label :ニックネーム
    %span.required 【必須】
    %br/
    = f.text_field :nickname, placeholder: "例）フリマ二郎"
  .field
    = f.label :メールアドレス
    %span.required 【必須】
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
  .field
    = f.label :パスワード
    %span.required 【必須】
    %br/
    = f.password_field :password, autocomplete: "new-password", pattern: "^([a-zA-Z0-9]{7,24})$", placeholder: "7〜24文字の半角英数字"
  .field
    = f.label :パスワード（確認用）
    %span.required 【必須】
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", pattern: "^([a-zA-Z0-9]{7,24})$", placeholder: "7〜24文字の半角英数字"
  %br/
  .actions
    = f.submit "次のページ"
%br/
= render "devise/shared/links"
