<h2>会員情報登録</h2>

<%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :ニックネーム %><span class="required">【必須】</span><br>
    <%= f.text_field :nickname, placeholder: "例）フリマ二郎"%>
  </div>

  <div class="field">
    <%= f.label :メールアドレス %><span class="required">【必須】</span><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"%>
  </div>

  <div class="field">
    <%= f.label :パスワード %><span class="required">【必須】</span><br>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", pattern: "^([a-zA-Z0-9]{7,24})$", placeholder: "7〜24文字の半角英数字" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><span class="required">【必須】</span><br>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", pattern: "^([a-zA-Z0-9]{7,24})$", placeholder: "7〜24文字の半角英数字" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "次のページ" %>
  </div>
<% end %><br>

<%= render "devise/shared/links" %>
