= render partial: "devise-header"
.main-contents
  %h2 住所情報登録
  = form_for @destination do |f|
    = render "devise/shared/error_messages", resource: @destination
    .field-wapper
      .field
        = f.label :送付先氏名（全角）
        %p.required 必須
        %ul
          %li= f.text_field :destination_family_name, class: "input__small", pattern: "[^\x20-\x7E]*", placeholder: "例）振村"
          %li= f.text_field :destination_first_name, class: "input__small", pattern: "[^\x20-\x7E]*", placeholder: "例）二郎"
      .field
        = f.label :送付先氏名カナ（全角）
        %p.required 必須
        %ul
          %li= f.text_field :destination_family_name_kana, class: "input__small", pattern: "[\u30A1-\u30F6]*", placeholder: "例）フリムラ"
          %li= f.text_field :destination_first_name_kana, class: "input__small", pattern: "[\u30A1-\u30F6]*", placeholder: "例）ジロウ"
      .field
        = f.label :郵便番号
        %p.required 必須
        = f.text_field :postal_code, class: "input", pattern: "^([0-9]{7})", placeholder: "XXXXXXX"
      .field
        = f.label :都道府県
        %p.required 必須
        = f.select :prefecture_id, Prefecture.all.map { |pre| [pre.name, pre.id] }, {include_blank: "選択する"}, class: "input"
      .field
        = f.label :市区町村
        %p.required 必須
        = f.text_field :city, class: "input", pattern: "[^\x20-\x7E]*", placeholder: "フリマ区"
      .field
        = f.label :番地
        %p.required 必須
        = f.text_field :address, class: "input"
      .field
        = f.label :建物、部屋番号
        %p.required 必須
        = f.text_field :building, class: "input"
      .field
        = f.label :電話番号
        %p.required 必須
        = f.text_field :phone_number, class: "input", pattern: "^([0-9]{10,11})$", placeholder: "10〜11桁の数字"
      %br/
      .actions
        = f.submit "登録", class: "button__next"
    %br/
  .button_login
    = render "devise/shared/links"
= render partial: "footer"
