%ul.my_page_bar 
  %li= link_to "マイページ", user_path(current_user.id)
  %li= link_to "出品する", new_product_path
  %li= link_to "出品した商品-出品中", on_display_products_user_path(:id)
  %li= link_to "出品した商品-売却済み", "#"
  %li= link_to "購入した商品", "#"
%label 設定
%ul.user_edit_bar
  %li= link_to "プロフィール", "#"
  %li= link_to "発送元・お届け住所変更", "#"
  %li= link_to "支払い方法", "#"
  %li= link_to "メール/パスワード", "#"
  %li= link_to "本人情報", "#"
  %li= link_to "電話番号の確認", "#"
  %li= link_to "ログアウト", "#" 