.sold_products_title
  %h2.title　出品した商品
  %ul.status_select_box
    = link_to on_display_products_user_path(current_user.id) do
      %li.on_display_products 出品中
    = link_to sold_products_user_path(current_user.id) do  
      %li.sold_products 売却済み 
  -if @my_sold_products.present?
    .products_list
      - @my_sold_products.each do |product|
        =link_to product_path(product.id) do
          .product_link_box
            .product_link_box__image
              %p.image= image_tag product.images[0].src.url
            .product_link_box__information
              %p.product_name= product.title
              %p.status= product.status_i18n
      .paginate  
        = paginate(@my_sold_products)
  -else 
    .product_non_list
      .product_nonlist_box
        =image_tag('logo.png', class: "icon_image")
        %p.text 売却済みの商品がありません