.product_form
  = form_with model: @product do |f|
    .post-image-list
      .post-image-list__title
        = f.label  '出品画像' 
        %span.require_label 必須
      %p.post-image-list__explanation 最大10枚までアップロードできます
      #image-box.post-image-list__box  
        #previews.preview_list
          -# 編集機能時に画像を表示
          -if @product.persisted?
            -@product.images.each_with_index do |image, i|
              =image_tag image.src.url, data: { index: i }, width: "100", height: '100', class: "preview_image"
              %span#delete_btn_
        #posts.post_form
          %label{for: "file-input", class: "image_input_btn", id: "image_input_btn--0"} 
            =image_tag('icon_camera.png', class: "image_input_btn_camera")
            .image_input_btn_text クリックしてファイルをアップロード
        .hidden_post_form
          =f.fields_for :images do |image|
            -# 画像がビルドされた際に振られるidを取得
            %div{ data: {index: "<%= image.index %>" }, class: "js-file_group" }
              =image.file_field :src, name: "product[images_attributes][1][src]", id: "file-input", class: 'js-file'
              %span.js-remove 削除
            -# 編集機能時
            -if @product.persisted?
              =image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
          -if @product.persisted?
            %div{ data: {index: "<%= @product.images.count %>" }, class: "js-file_group" }
              =file_field_tag :src, name: "product[images_attributes][#{@product.images.count}][src]", class: 'js-file'
              %span.js-remove 削除
    .product-information
      商品の詳細
      .product-information__title
        = f.label :title, '商品名' 
        %span.require_label 必須
        = f.text_field :title, { class: "product-information__title--text_form", maxlength: 40, placeholder: "40文字まで" }
      .product-information__description
        = f.label :description, '商品の説明'
        %span.require_label 必須
        = f.text_area :description, { class: "product-information__description--text_area_form", placeholder: "" }
      .product-information__category
        = f.label :category_id, 'カテゴリー', class: "production-information__category-label"
        %span.require_label 必須
        .product-information__category--form
          = f.select :category_id, options_for_select(@category_parent_array.map{|c| [c[:name], c[:id]]}), {include_blank: "選択してください"}, { class: "product-information__category--select_form", id: "parent_category"}
      .product-information__brand
        = f.label :brand, 'ブランド' 
        %span.optional_label 任意
        = f.collection_select :brand_id, Brand.all, :id, :brand_name, { prompt: "選択してください" }, { class: "product-information__brand--select_form" }
        -# = b.text_field :brand_name, { class: "product-information__brand--text_form", placeholder: "例：グッチ" }
      .product-information__condition
        = f.label :condition, '商品の状態' 
        %span.require_label 必須
        = f.select :condition, Product.conditions_i18n.invert, { prompt: "選択してください" }, { class: "product-information__condition--select_form"}
    .delivery-information 
      配送について
      .delivery-information__postage
        = f.label :postage, '配送料の負担' 
        %span.require_label 必須
        = f.select :postage, Product.postages_i18n.invert, { prompt: "選択してください" }, { class: "delivery-information__postage--select_form"}
      .delivery-information__prefecture
        = f.label :prefecture_id, '発送元の地域' 
        %span.require_label 必須
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, { prompt: "選択してください" }, { class: "delivery-information__prefecture--select_form" }
      .delivery-information__shipping_day
        = f.label :shipping_day_id, '発送までの日数' 
        %span.require_label 必須
        = f.collection_select :shipping_day_id, ShippingDay.all, :id, :name, { prompt: "選択してください" }, {class: "delivery-information__shipping_day--select_form" }
    .price-information
      価格
      .price-information__price
        = f.label :price, '販売価格' 
        %span.require_label 必須
        %span.en ￥
        = f.number_field :price, class: "price_form", min: 300, max:9999999, placeholder: "0"
    .post-form
      = f.submit "出品する", class: "submit_btn"
      = link_to "もどる", root_path, class: "return_btn"