.content  
  .showProduct
    -# 商品詳細欄
    .productBox
      
      %h1.productBox__title タイトル
      -# 商品写真
      .productBox__images
        %ul.images
          %li.images__list
            %img.images__list--main{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
            %ul.subImages
              %li.subImages__list
                %img.subImages__list--sub{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
                %img.subImages__list--sub{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/14/a001.png"}
                %img.subImages__list--sub{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png"}
      -# 値段
      .productBox__price
        %span.productBox__price--price ¥100,000
        .productBox__price--detailed
          %span (税込)
          %span送料込み
      -# 商品詳細
      .productBox__details テスト 

      -# 表
      .productBox__table
        %table
          %tbody
            %tr
              %th 出品者
              %td hoge
            %tr
              %th カテゴリー
              %td 
                = link_to "hoge", product_path, class:"productBox__table--content"
                %br
                = link_to "hoge", product_path, class:"productBox__table--content"
                %br
                = link_to "hoge", product_path, class:"productBox__table--content"
            %tr
              %th ブランド
              %td 
                = link_to "hoge", product_path, class:"productBox__table--content"
            %tr
              %th 商品のサイズ
              %td hoge
            %tr
              %th 商品の状態
              %td hoge
            %tr
              %th 配送料の負担
              %td hoge
            %tr
              %th 発送元の地域
              %td 
                = link_to "hoge", product_path, class:"productBox__table--content"
            %tr
              %th 発送日の目安
              %td hoge
      .productBox__others
        %ul
          %li.productBox__others--like
            = icon('fa', 'star') 
            お気に入り 0
        = link_to product_path, {class: "roductBox__others--report"} do
          %i{class: "fa fa-flag"}
          不適切な商品の通報
          
      .productBox__toBuy
        = link_to "購入する", product_path, class:"productBox__toBuy--buy"


    -# コメント欄
    .commentBox
      = form_with model: @product do |form|
        = form.text_area :comment, class:"commentBox__area"
        %p.commentBox__note
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
          不快な言葉遣いなどは利用制限や退会処分となることがあります。

        = form.submit "コメントする", class:"commentBox__btn"
        = icon('fa', 'comment')

    .sameContent
      %ul.sameContent__link
        %li
          = link_to  product_path, {class: "sameContent__link--left"} do
            %i{class: "fa fa-angle-left"}
            前の商品  
        %li
          = link_to  product_path, {class: "sameContent__link--right"} do
            %i{class: "fa fa-angle-right"}
            後ろの商品
    
    
    -# 関連商品欄
    .relatedProbucts
      = link_to "もっと見る", product_path
      .reratedProducts__lists
        -# 個々の関連商品
        = link_to product_path, {class: "productList"} do
          %figure.productList__image
            %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
              %h3.productList__content テスト
              .productList__content__detail
                %ul 
                  %li 30,000円
                  %ul 
                    %li （税込）
                  %li 
                    = icon('fa', 'star') 
                    %p 0
                    