= render partial: "search_header"
.content  
  .showProduct
    -# 商品詳細欄
    .productBox
      
      %h1.productBox__title 
        = @product.title
      -# 商品写真
      .productBox__images
        %ul.images
          %li.images__list
            = image_tag @images[0].src.url, class: "images__list--main"
              -# buyer_idがある場合には、SOLDと表示させる
              -if @product.buyer_id.present? 
              .items-box_photo__sold
                .items-box_photo__sold__inner SOLD

            %ul.subImages
              - @images.drop(1).each do |image|
                %li.subImages__list
                  = image_tag image.src.url, size: "140x140", class:"subImages__list--sub"
      -# 値段
      .productBox__price
        %span.productBox__price--price 
          ="¥#{@product.price.to_s(:delimited)}"
        .productBox__price--detailed
          %span （税込）
          %span= @product.postage_i18n
      -# 商品詳細
      .productBox__details 
        =@product.description

      -# 表
      .productBox__table
        %table
          %tbody
            %tr
              %th 出品者
              %td= @product.user.nickname
            %tr
              %th カテゴリー
              %td 
                = link_to @product.category.root.name, product_path, class:"productBox__table--content"
                %br
                = link_to @product.category.parent.name, product_path, class:"productBox__table--content"
                %br
                = link_to @product.category.name, product_path, class:"productBox__table--content"
            %tr
              %th ブランド
              %td 
                - if @product.brand.present?
                  = link_to @product.brand.brand_name, product_path, class:"productBox__table--content"
                
            %tr
              %th 商品のサイズ
              %td
                -if @product.size.present?
                  = @product.size.size 
            %tr
              %th 商品の状態
              %td= @product.condition_i18n 
            %tr
              %th 配送料の負担
              %td= @product.postage_i18n
            %tr
              %th 発送元の地域
              %td 
                = link_to @product.prefecture.name, product_path, class:"productBox__table--content"
            %tr
              %th 発送日の目安
              %td= p@product.shipping_day.name
      .productBox__others
        %ul
          %li.productBox__others--like
            = icon('fa', 'star') 
            お気に入り 0
        = link_to product_path, {class: "productBox__others--report"} do
          %i{class: "fa fa-flag"}
          不適切な商品の通報

      
      - if user_signed_in? == false
        .productBox__login
          = link_to "ログインしてください", root_path, class:"productBox__login--btn"
      - elsif current_user.id == @product.user_id
        .productBox__edit
          = link_to edit_product_path,{class: "productBox__edit--btn"} do
            %i{class: "fa fa-cog"}
            編集する
          = link_to product_path(@product),class: "productBox__edit--btn", method: :delete, data: { confirm: "本当に削除しますか？" } do
            %i.fa.fa-trash
            削除する
        -#「購入する」リンクを「売り切れました」ボタンに変える     
      - elsif @product.buyer_id.present?
        .productBox__sold 
          %button.disabled-button 売り切れました
      - else
        .productBox__toBuy
          = link_to "購入する", buy_product_path, class:"productBox__toBuy--buy"


    -# コメント欄
    .commentBox
      -# コメント一覧
      .commentList
        - @comments.each do |comment|
          - if current_user
            - if comment.user_id == current_user.id
              .commentList__comment
                .commentList__content
                  .commentList__content--comment
                    = comment.comment
                  .commentList__content--delete
                    = link_to product_comment_path(@product.id, comment.id), method: :delete, data: { confirm: "本当に削除しますか？" } do
                      %i.fa.fa-trash
                      削除する
                  .commentList__content--time
                    = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
                .commentList__userName
                  = comment.user.nickname
                  - if comment.user_id == @product.user.id
                    .commentList__userName--master
                      出品者
            - else
              = render "show_comment", comment: comment

          - else
            = render "show_comment", comment: comment

      - if current_user
        = form_with model: [@product, @comment], local: true, id:"newComment" do |form|
          = form.text_area :comment, class:"commentBox__area"
          %p.commentBox__note
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %button{type: "submit", class: "commentBox__btn", name: "button"} 
            %i.fa.fa-comment
            コメントする
      - else
        %p ※コメントの投稿には新規登録、ログインが必要です

    .sameContent
      %ul.sameContent__link
        %li
          -if @product.next.present?
            = link_to  product_path(@product.next), {class: "sameContent__link--left"} do
              %i.fa.fa-angle-left
              前の商品
        %li
          -if @product.previous.present?
            = link_to  product_path(@product.previous), {class: "sameContent__link--right"} do
              後ろの商品  
              %i.fa.fa-angle-right
    
    -# 関連商品欄
    .relatedProbucts
      = link_to "もっと見る", product_path, {class: "relatedLink"}
      .relatedProbucts__lists
        -# 個々の関連商品
        = link_to product_path, {class: "productList"} do
          %figure.productList__image
            %img{src: "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png"}
              .productList__content
                %h3.name テスト
                .productList__content--detail
                  %ul 
                    %li 30,000円
                    %li 
                      = icon('fa', 'star')
                      0
= render partial: "search_footer"